<!DOCTYPE html>

<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"> 
    <title>Nie Zastępstwa</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body class="body">
    <header class="headerr" hx-get="/home" hx-trigger="click" hx-target=".main">
        <h2 class="home">HOME</h2>
    </header>
    <main class="main">
    {% block content %}
    {% endblock %}
    </main>
    <img class="bimg" src="https://cdn.discordapp.com/attachments/541688918924329006/1204430770496610324/Borys_1.png?ex=65d4b490&is=65c23f90&hm=69c4dbd5461c62a99aefed97f19645b35b59ad25ac9feaa470f0af3cb04589c0&">
    <footer>
        <p>Autorami projektu są Borys Furmańczak i Hubert Łazowy z 3D</p>
    </footer>
</body>
</html>
