@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@media (prefers-color-scheme: light) {
    :root {
      --highlight-1: rgb(252, 141, 207);
      --text-50: #eae9fc;
      --text-100: #d4d2f9;
      --text-200: #a9a5f3;
      --text-300: #7e78ed;
      --text-400: #534be7;
      --text-500: #281fe0;
      --text-600: #1ea9ff;
      --text-700: #181287;
      --text-800: #100c5a;
      --text-900: #000000;
      --text-950: #000000;
  
      --background-50: #f2f2f2;
      --background-100: #e6e6e6;
      --background-200: #ffffff;
      --background-300: #b3b3b3;
      --background-400: #999999;
      --background-500: #808080;
      --background-600: #666666;
      --background-700: #4d4d4d;
      --background-800: #333333;
      --background-900: #1a1a1a;
      --background-950: #0d0d0d;
  
      --primary-50: #e5f5ff;
      --primary-100: #1ea9ff;
      --primary-200: #1ea9ff;
      --primary-300: #66c2ff;
      --primary-400: #33adff;
      --primary-500: #0099ff;
      --primary-600: #007acc;
      --primary-700: #005c99;
      --primary-800: #003d66;
      --primary-900: #001f33;
      --primary-950: #000f1a;
  
      --secondary-50: #e6f2ff;
      --secondary-100: #cde5fe;
      --secondary-200: #9bcafd;
      --secondary-300: #1ea9ff;
      --secondary-400: #3696fc;
      --secondary-500: #047bfb;
      --secondary-600: #0363c9;
      --secondary-700: #024a97;
      --secondary-800: #023164;
      --secondary-900: #011932;
      --secondary-950: #000c19;
  
      --accent-50: #e6f4fe;
      --accent-100: #cde9fe;
      --accent-200: rgba(30, 169, 255, 0.75);
      --accent-300: #69bcfc;
      --accent-400: #37a6fb;
      --accent-500: #0590fa;
      --accent-600: #0473c8;
      --accent-700: #035696;
      --accent-800: #023a64;
      --accent-900: #011d32;
      --accent-950: #010e19;
  
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --highlight-1: rgba(218, 76, 157, 0.75);
      --text-50: #040316;
      --text-100: #08062d;
      --text-200: #100c5a;
      --text-300: #181287;
      --text-400: #2018b4;
      --text-500: #281fe0;
      --text-600: rgb(0, 81, 201);
      --text-700: #7e78ed;
      --text-800: #a9a5f3;
      --text-900: #f6f6f6;
      --text-950: #f6f6f6;
  
      --background-50: #0d0d0d;
      --background-100: #1a1a1a;
      --background-200: #272829;
      --background-300: #4d4d4d;
      --background-400: #666666;
      --background-500: #808080;
      --background-600: #999999;
      --background-700: #b3b3b3;
      --background-800: #cccccc;
      --background-900: #e6e6e6;
      --background-950: #f2f2f2;
  
      --primary-50: #000f1a;
      --primary-100: #003686;
      --primary-200: #003686;
      --primary-300: #005c99;
      --primary-400: #007acc;
      --primary-500: #0099ff;
      --primary-600: #33adff;
      --primary-700: #66c2ff;
      --primary-800: #99d6ff;
      --primary-900: #ccebff;
      --primary-950: #e5f5ff;
  
      --secondary-50: #000c19;
      --secondary-100: #011932;
      --secondary-200: #023164;
      --secondary-300: #003686;
      --secondary-400: #0363c9;
      --secondary-500: #047bfb;
      --secondary-600: #3696fc;
      --secondary-700: #68b0fd;
      --secondary-800: #9bcafd;
      --secondary-900: #cde5fe;
      --secondary-950: #e6f2ff;
  
      --accent-50: #010e19;
      --accent-100: #011d32;
      --accent-200: rgba(0, 54, 133, 0.75);
      --accent-300: #035696;
      --accent-400: #0473c8;
      --accent-500: #0590fa;
      --accent-600: #37a6fb;
      --accent-700: #69bcfc;
      --accent-800: #9bd3fd;
      --accent-900: #cde9fe;
      --accent-950: #e6f4fe;
  
    }
  }

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-200);
  color: var(--text-950);
  font-weight: 500;
  font-family: Manrope, sans-serif;
}
.bimg {
  display: block;
  width: auto;
  height: auto;
  max-width: 30%;
  max-height:90%;
  margin: 20px auto;
}
@media (920px > width) {
  .bimg {
    max-width: 70%;
  }

  body{
    font-size: 1.6vw;
  }
}

h1, h2, h3, h4, h5 {
  color: var(--text-950);
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}


.home_button {
  background-color: var(--primary-100);
  color: var(--text-950);
}

.headerr {
  background-color: var(--primary-100);
  border-width: 7px;
  border-style: solid;
  border-color: var(--primary-200);
  border-radius: 13px;
  color: var(--text-950);
}

.home {
  padding-left: 1vw;
  padding-right: 1vw;
}

footer {
  color: var(--text-950);
  padding-left: 3vw;
  margin-top: 2vw;
}
mark {
  color: var(--text-950);
  background: var(--highlight-1);
}
.przycisk {
  color: var(--text-900);
  font-weight: 600;
  border-radius: 9px;
  background-color: var(--secondary-300);
  text-align: center;
  display: block;
  padding: 1.55em;
  margin: 0.25em;
}
.my-indicator{
  display:none;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  width: 10vw;
  height: 10vw;
  text-align: center;
  z-index: 10;
  top:45vh;
}
.htmx-request .my-indicator{
  display:inline;
}
.htmx-request.my-indicator{
  display:inline;
}
.master {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.przyciski_klasy {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}
.przycisk_all{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tabela_zond:nth-child(even){
    background-color: var(--background-200);
}
.tabela_zond:nth-child(odd){
    background-color: var(--accent-200);
}
.tabela_tytul{
    text-align: center;
    color: var(--text-600);
    font-size: 1.25em;
    border-width: 2px;
}
.tabela_komurka{
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
  }
.tabela{
    width: auto;
    margin: 1vw;
    margin-bottom: 1vw;
}

.plan_lekcji {
  display: flex;
  flex-direction: column;
  align-items: center;
}

