@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@media (prefers-color-scheme: light) {
    :root {
      --highlight-1: #ffffff;
      --highlight-2: #015fb7;
      --highlight-3: #ce1212;
      --highlight-4: #5fbdff;
      --text-50: #000000;
      --text-800: #ffffff;
      --text-950: #272829;

      --background-200: #ffffff;
      --background-500: #272829;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --highlight-1: #015fb7;
      --highlight-2: rgb(39, 40, 41);
      --highlight-3: #b41919;
      --highlight-4: #5fbdff;
      --text-50: #f6f6f6;
      --text-800: #212121;
      --text-950: #f6f6f6;

      --background-200:  #272829;
      --background-500: #ffffff;
    }
  }

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-200);
  color: var(--text-950);
  font-weight: 500;
  font-family: Manrope, sans-serif;
}
.bimg {
  display: block;
  width: auto;
  height: auto;
  max-width: 30%;
  max-height:90%;
  margin: 20px auto;
}
@media (920px > width) {
  .bimg {
    max-width: 70%;
  }

  body{
    font-size: 1.6vw;
  }
}

h1, h2, h3, h4, h5 {
  color: var(--text-950);
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}


.home_b {
  color: #f6f6f6;
  font-family: Manrope, sans-serif;
  font-weight: 750;
  font-size: 2em;
  border-radius: 0.5em;
  border: 0.35em solid #015FB7FF;
  background-color: #015FB7FF;
  text-align: center;
  display: block;
  padding: 0.05em;
  margin: 0.35em;
  user-select: none;
}

.headerr {
  background-color: rgba(1, 95, 183, 0);
  border-width: 7px;
  border-radius: 1em;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: var(--text-950);
  padding-left: 3vw;
  margin-top: 2vw;
}
.oznaczenie_zastepstwo {
  color: white;
  background-color: var(--highlight-3);
  font-weight: 900;
}
.przycisk {
  color: #f6f6f6;
  font-weight: 750;
  border-radius: 1em;
  background-color: #015fb7;
  text-align: center;
  display: block;
  padding: 1.55em;
  margin: 0.25em;
  user-select: none;
}
.przycisk_klasy {
  color: #f6f6f6;
  font-weight: 750;
  border-radius: 1em;
  background-color: #015fb7;
  text-align: center;
  display: block;
  padding: 1.55em;
  margin: 0.25em;
  width: 1.27em;
  user-select: none;
}
.my-indicator{
  display:none;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  width: 7.5vw;
  height: 7.5vw;
  text-align: center;
  z-index: 10;
  top:45vh;
}
.htmx-request .my-indicator{
  display:inline;
}
.htmx-request.my-indicator{
  display:inline;
}
.master {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.przyciski_klasy {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}
.przycisk_all{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tabela_zond:nth-child(even){
  background-color: var(--highlight-1);
  color: var(--text-50);
}
.tabela_zond:nth-child(odd){
  background-color: var(--highlight-2);
}
.tabela_tytul{
  text-align: center;
  color: var(--text-800);
  font-size: 1.25em;
  border-width: 2px;
  border-spacing: 0.4em;
}
.tabela_komurka{
  text-align: center;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.4em;
}
.tabela{
  margin: 1vw;
  margin-bottom: 1vw;
  color: #f6f6f6;
  font-weight: 600;
  background-color: var(--background-500);
  border-radius: 0.4em;
  border-collapse: separate;
  border-spacing: 0.25vw;
}

.plan_lekcji {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 10px;
}

.tabela_pozostale{
  width: auto;
  margin: 1vw;
  margin-bottom: 1vw;
  border-radius: 0.4em;
  background-color: #b41919;
  font-weight: 700;
  color: #f6f6f6;
}

.info_wszyscy{
  width: auto;
  margin: 1vw;
  margin-bottom: 1vw;
  border-radius: 0.4em;
  background-color: #b41919;
  font-weight: 700;
  color: #f6f6f6;
}

.tabela_zond_pozostale{
  background-color: #b41919;
  color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 0.75em;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 0.5em;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #015fb7;
  border-radius: 10px;
}

.link {
  color: #ff0724;
  white-space: nowrap;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
}

.red {
  color: red;
  font-weight: bold;
}

.info_wiadomosci {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.tytul {
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
}

.instrukacja_tytul {
  font-size: 2em;
  font-weight: bold;
}

.info_wiadomosci_tekst {
  font-size: 1.25em;
}

.konto {
  color: #f6f6f6;
  font-weight: 750;
  border: solid 1px #272829;
  border-radius: 0.5em;
  background-color: #272829;
  text-align: center;
  padding: 0.5em;
  margin: 0.25em;
  user-select: none;
  font-size: 0.75em;
  margin-top: 0.5em;
}

.konto_tekst {
  color: #f6f6f6;
  user-select: none;
  text-decoration: none;
}

.instrukacja {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.instrukacja > div {
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.krok_1, .krok_2, .krok_3 {
  justify-content: center;
  color: #f6f6f6;
  font-weight: bold;
  font-size: 2em;
  background-color: #015eb6;
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  margin: 0;
}

.opis {
  margin-top: 0.5em;
  font-size: 0.75em;
  background-color: white;
  color: black;
  border-radius: 0.4em;
  height: auto;
  padding: 0.5em;
  flex: 1;
  align-content: center;
}

@media (max-width: 1100px) {
  .instrukacja > div {
      flex: 1 1 100%;
      max-width: 100%;
  }
}

.nick {
  margin-bottom: 0;
  text-align: center;
}

.test {
  font-weight: bold;
  width: auto;
  margin: 1.5em;
  font-size: 1em;
  background-color: #ff6c00;
  border-width: 7px;
  border-style: solid;
  border-color: #ff6c00;
  border-radius: 1em;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 0.55em;
}

.wiadomosci {
  width: auto;
  margin: 1em;
  margin-top: 2.5em;
  font-size: 1em;
  background-color: #21c40f;
  border-width: 7px;
  border-style: solid;
  border-color: #21c40f;
  border-radius: 1em;
  font-weight: bold;
  color: #212121;
  text-align: center;
  display: block;
  padding: 0.25em;
}

.dodatkowe_informacje {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lekcja_skrocona {
  color: var(--highlight-4);
  font-style: italic;
  background-color: transparent;
  font-weight: 900;
}

.jasny {
  color: var(--highlight-4);
  font-style: italic;
  background-color: transparent;
  font-weight: 900;
}