<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zastępstwa</title>
</head>
<body>
    <div class="info_wiadomosci">
        <p class="tytul">Wiadomości z zastępstwami</p>
        <p class="red">Funkcja dostępna jedynie dla uczniów!</p>
        <p class="info_wiadomosci_tekst">Nasza funkcja bezpośrednich wiadomości na Messengerze pozwala na szybkie i wygodne otrzymywanie informacji o zastępstwach i zmianach w planie lekcji. Dzięki niemu zawsze będziesz na bieżąco z aktualizacjami dotyczącymi Twoich zajęć.</p>
        <div class="test">
            Funkcja ma charakter testowy, dlatego mogą występować błędy lub opóźnienia w dostarczaniu powiadomień. Nowi użytkownicy będą dodawani stopniowo, aby umożliwić dokładne sprawdzenie działania i wprowadzanie poprawek.
            </br>
            </br>
            Dziękujemy za cierpliwość i wsparcie w doskonaleniu tej usługi!
        </div>
        <p class="instrukacja_tytul">Jak dołączyć:</p>
        <div class="instrukacja">
            <div class="krok_1">
                Krok 1.
                <div class="opis">
                    Odszukaj nasz profil na Facebooku lub skorzystaj z przycisku poniżej.
                </div>
                <button class="konto">
                   <a class="konto_tekst" href="https://www.facebook.com/profile.php?id=61571933631388" target="_blank">Zobacz konto</a>
                </button>
            </div>
            <div class="krok_2">
                Krok 2.
                <div class="opis">
                    Wyślij do nas wiadomość na Messengerze, podając, z której klasy jesteś. Wiadomość powinna być prosta, np. "4D" lub "4d".
                </div>
            </div>
           <div class="krok_3">
                Krok 3.
                <div class="opis">
                     Po pewnym czasie otrzymasz wiadomość zwrotną z potwierdzeniem twojej klasy. Od tego momentu będą Ci wysyłane wiadomości z informacjami o zastępstwach i innych zmianach w planie lekcji.
                </div>
            </div>
        </div>
        <p class="nick">Po pewnym czasie od wysłanie wiadomości ze swoją klasą nasze konto automatycznie zmieni twój nick na twoją klasę.</p>
        <p class="red">Od tego momentu nie należy tego nicku zmieniać!</p>
    </div>
    </body>
</html>
